<% provide(:title, 'Tous les utilisateurs') %>
<h1>Tous les utilisateurs</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <%= render 'users/user', user: user %>
  <% end %>
</ul>

<%= will_paginate %>